
    <footer class="py-5">
      <div class="container">
        <div class="row align-items-center justify-content-xl-between">
          <div class="col-xl-6">
            <div class="copyright text-center text-xl-left text-muted">
                <a href="https://www.creative-tim.com/product/argon-dashboard-django" 
                   class="font-weight-bold ml-1" target="_blank">Argon Dashboard Django</a>
            </div>
          </div>
          <div class="col-xl-6">
            <div class="text-center text-xl-right text-muted">
               &copy; <a href="https://www.creative-tim.com/">Creative-Tim</a> 
               - coded by <a target="_blank" href="https://appseed.us?ref=ct-demo">AppSeed</a>.
            </div>
          </div>
        </div>
      </div>
    </footer>
