<nav class="sidenav navbar navbar-vertical fixed-left navbar-expand-xs navbar-light bg-white collapsed" id="sidenav-main">
  <div class="scrollbar-inner">
    <!-- Brand -->
<div class="sidenav-header align-items-center d-flex">
  <a class="navbar-brand" href="/">
    <img src="/static/assets/img/brand/blue.png" class="navbar-brand-img" alt="Argon Design - Jinja Template Logo.">
  </a>
  <!-- Agrega el botón de toggle aquí -->
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main" aria-controls="sidenav-collapse-main" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
    <div class="navbar-inner">
      <!-- Collapse -->
      <div class="collapse navbar-collapse" id="sidenav-collapse-main">
        <!-- Nav items -->
        <ul class="navbar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a class="nav-link {% if 'index' in segment %} active {% endif %}" href="/" data-toggle="tooltip"  title="Réduction de l'empreninte carbone">
              <i class="ni ni-tv-2 text-primary"></i>
              <span class="nav-link-text">Réduction de l'empreninte carbone</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'map' in segment %} active {% endif %}" href="/map.html" data-toggle="tooltip"  title="Zones géographiques livrées">
              <i class="ni ni-pin-3 text-primary"></i>
              <span class="nav-link-text">Zones géographiques livrées</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'icons' in segment %} active {% endif %}" href="/icons.html"  data-toggle="tooltip"  title="Volume réalisées">
              <i class="ni ni-planet text-orange"></i>
              <span class="nav-link-text">Volume réalisées</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if 'profile' in segment %} active {% endif %}" href="/profile.html" data-toggle="tooltip"  title="Satisfaction globe">
              <i class="ni ni-single-02 text-yellow"></i>
              <span class="nav-link-text">Satisfaction globe</span>
            </a>
          </li>
        </ul>
        <!-- Divider -->
        <hr class="my-3">
        <!-- Heading -->
        <h6 class="navbar-heading p-0 text-muted">
          <span class="docs-normal"></span>
        </h6>
        <!-- Navigation -->
        <ul class="navbar-nav mb-md-3">
          <li class="nav-item">
            <a class="nav-link {% if 'tables' in segment %} active {% endif %}" href="/tables.html" data-toggle="tooltip"  title="Télécharger rapport"> 
              <i class="ni ni-bullet-list-67 text-default"></i>
              <span class="nav-link-text">Télécharger rapport</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.10.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.min.js"></script>


<script src="/static/assets/js/main2.js"></script> 